* {
  margin: 0;
  border: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

main {
  font-family: "Roboto", sans-serif;
}

.clock {
  text-align: center;
}

.digits {
  color: white;
  background-color: black;
  /* border-width: 3vh; */
  border-radius: 15%;
  font-size: 24vw;
  margin: 5px;
  display: inline;
  border-width: 0.2rem;
  border-style: solid;
  border-color: white;
  padding: -2rem;
}

.date {
  color: white;
  border-radius: 5rem;
  border-width: 0.2rem;
  border-style: solid;
  border-color: white;
  font-size: 1.7vw;
  margin: 10px;
  margin-top: 20px;
  padding: 5px 15px;
  float: right;
}

.footer {
  margin-top: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5rem;
  padding: 5px 15px;
  text-align: center;
  display: inline-block;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:active {
  transform: translate(0%, 10%);
}

.hidden {
  display: none;
}

.night {
  color: darkred;
  border-color: darkred;
}

.btn-night {
  color: grey;
  background-color: rgb(139, 0, 0, 0.4);
}
